extends layout

block content
  h1 #{title}: #{category.name}

  if category_plants.length

    p #[strong Delete the following plants before attempting to delete this category.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Plants

      dl
      each plant in category_plants
        dt
          a(href=plant.url) #{plant.name}
        dd #{plant.description}

  else
    p Do you really want to delete this category?

    form(method='POST' action='')
      div.form-group
        input#categoryid.form-control(type='hidden',name='categoryid', required='true', value=category._id )

      button.btn.btn-primary(type='submit') Delete
